<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Snell App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Snell App</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div class="illustration">
    </div>

    <ion-grid style="margin-top: -50px;">
      <ion-card [routerLink]="['/maps']">
        <ion-card-content>
          <ion-row>
            <ion-col size="8" class="text-left">
              <strong>Géolocalisation de nos agences</strong>
              <p>Voyez l'emplacement exact de nos différentes agences réparties dans
                  la ville province de kinshasa
              </p>  
            </ion-col>
            <ion-col size="4" class="text-right">
              <ion-button>
                <ion-icon slot="icon-only" name="location-sharp"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>

      <ion-card [routerLink]="['/payment']">
        <ion-card-content>
          <ion-row>
            <ion-col size="8" class="text-left">
              <strong>Payement rapide</strong>
              <p>Payer vos factures via rapidement et en toute simplicité en quelques clicks 
              </p>  
            </ion-col>
            <ion-col size="4" class="text-right">
              <ion-button color="success">
                <ion-icon slot="icon-only" name="card-sharp"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>

    </ion-grid>
  
  </div>
</ion-content>
